APP_BASE_URL=http://localhost:8000
APP_DATABASE_URL=postgresql+psycopg://neondb_owner:npg_67ztrKaHQbdR@ep-curly-haze-ap4yux7i-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
APP_SHORT_CODE_SIZE=7
